:root {
    --mobistudy-bg-color: #449398;
    --mobistudy-light-color: #cde8eb;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    /* max-width: 1600px; */
    /* on desktops, overridden on phones */
    font-size: 1.4em;
}

#logosubscript {
    font-weight: bold;
    padding-left: 30%;
}

.uppercase {
    text-transform: uppercase;
}

.boldentext {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.fullwidth {
    width: 100%;
}

#banner1 {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#banner2 {
    width: 100%;
    position: relative;
}

#banner3 {
    width: 100%;
    position: relative;
}

#banner4 {
    width: 100%;
    position: relative;
}

#banner1logocontainer {
    width: 50%;
    color: var(--mobistudy-bg-color);
}

#banner1users {
    width: 50%;
}

#banner2dashes {
    position: absolute;
    top: 0px;
    z-index: 3;
}

#banner3dashes {
    position: absolute;
    top: 0px;
    z-index: 3;
}

#banner4dashes {
    position: absolute;
    top: 49%;
    z-index: 3;
}


#banner2clinicians {
    width: 63%;
    position: relative;
    left: -3.5%;
    z-index: 2;
}

#banner3participants {
    width: 40%;
    position: relative;
    left: 58%;
    margin-top: -20%;
    z-index: 2;
}

#banner4devices {
    width: 57%;
    position: relative;
    left: 2%;
    margin-top: 11%;
    z-index: 2;
}

#banner2background {
    position: absolute;
    top: 0px;
    background-color: var(--mobistudy-bg-color);
    width: 100%;
    height: 73%;
    z-index: 1;
}

#banner4background {
    position: absolute;
    top: 20%;
    left: 10.5%;
    width: 89.5%;
    height: 74%;
    z-index: 1;
    background-color: var(--mobistudy-light-color);
    border-radius: 25px 0px 0px 25px;
}

#banner2text {
    position: absolute;
    top: 35%;
    left: 55%;
    width: 35%;
    z-index: 4;
    color: white;
}

#banner3text {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 35%;
    z-index: 4;
    color: black;
}

#banner4text {
    position: absolute;
    top: 65%;
    left: 60%;
    width: 35%;
    z-index: 4;
    color: black;
}

/* only applies to mobile phones */
@media only screen and (max-width: 768px) {

    body {
        font-size: 1em;
    }

    #banner1logocontainer {
        width: 100%;
        margin-bottom: 1em;
    }

    #banner2clinicians {
        width: 100%;
        left: -5%;
    }

    #banner3participants {
        width: 80%;
        left: 20%;
        margin-top: 20%;
    }

    #banner4devices {
        width: 80%;
        left: 8%;
        margin-top: 20%;
    }

    #banner2background {
        height: 125%;
    }

    #banner4background {
        width: 79%;
        border-radius: 25px;
    }

    #banner2text {
        top: 100%;
        left: 10%;
        width: 80%;
    }

    #banner3text {
        top: 100%;
        left: 10%;
        width: 80%;
    }

    #banner4text {
        top: 110%;
        left: 10%;
        width: 80%;
    }

    .nomobile {
        display: none;
    }
}